/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,700|Source+Code+Pro:300,400,500,700|Quicksand:300,400,500");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --bs-body-font-family: 'Lato', sans-serif !important;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.imagefix{
  height: 500px;
  width: 500px;
}

.itemdes{
  margin-left: 20%;
}

.buttonspace{
  margin: 3%;
}
.itemfont{
  font-family: 'Lucida Bright', Georgia, serif;
}
.textspace{
  margin: 2%;
}

.parent{
  display: flex;
}

.child{
  margin: auto;
}

.descmargin{
  margin-top: 15%;
}
.ocean-background {
  /* Created with https://www.css-gradient.com */
  background: #147A70;
  background: -webkit-linear-gradient(top left, #147A70, #564AC5);
  background: -moz-linear-gradient(top left, #147A70, #564AC5);
  background: linear-gradient(to bottom right, #147A70, #564AC5);
  background-size: cover;
}

/* uniforms */
textarea.form-control {
  height: 200px;
  border-radius: 0;
}

input.form-control {
  border-radius: 0;
}

select.form-control {
  border-radius: 0;
}

input.btn.btn-primary {
  border-radius: 0;
}

button.btn {
  border-radius: 0;
}

a.btn {
  border-radius: 0 !important;
}

#item-card {
  transition-duration: 500ms;
}

#item-card:hover {
  box-shadow: gray 3px 4px 10px;
}

.shop-nav-item {
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}

.shop-nav-item:hover {
  border-top: solid 1px var(--bs-border-color-translucent);
  border-bottom: solid 1px var(--bs-border-color-translucent);
}

div button.dropdown-toggle.btn {
  background-color: transparent;
  border: none;
  color: black;
  padding-right: 0;
}

div button.dropdown-toggle.btn:focus {
  background-color: transparent;
}

.enlarge:hover {
  transform: scale(1.03);
}

/* Login page */
.custom-card {
  padding: 2rem;
  border: 1px var(--bs-border-color-translucent) solid;
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
}

.underline:hover {
  border-bottom: 1px solid black;
}

button.navbar-toggler {
  border: none !important;
}

button.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

div.modal-content {
  border-radius: 3px !important;
}



@media (max-width: 800px) {
  .responsive-side {
    display: none !important;
  }

  div#basic-navbar-nav.offcanvas.offcanvas-start.show {
    width: 75% !important;
  }
}

@media (min-width: 800px) {
  .responsive-search {
    display: none;
  }
}

@media (max-width: 991px ) {
  .responsive-nav-hide {
    display: none;
  }
}

@media (min-width: 991px) {
  .responsive-nav-show {
    display: none;
  }
}